body {
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product {
    width: 250px;
    height: 300px;
    background-color: rgb(255, 205, 41);
}

#productImg {
    width: 200px;
    align-items: center;
    padding-top: 25px;
}

.price {
    color: rgb(64, 119, 0);
    margin: 0;
    padding: 0;
    text-align: center;
}

.productName {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
}

#buttons {}