* {
    transition: ease-in-out 0.1s;
}

body {
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product {
    width: 250px;
    height: 350px;
    background-color: rgb(255, 205, 41);
    cursor: default;
    float: left;
    margin-left: 15px;
    margin-top: 50px;
}

.product:hover {
    background-color: rgb(255, 212, 72);
}

#productImg {
    width: 200px;
    align-items: center;
    padding-top: 25px;
}

.price {
    color: rgb(64, 119, 0);
    margin: 0;
    padding: 0;
    text-align: center;
}

.productName {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
}

#buttons {
    margin-top: 8px;
    text-align: center;
}

.btn {
    width: 100px;
    height: 35px;
    background-color: rgb(255, 242, 167);
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: rgb(255, 234, 113);
}