body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #13162b;
}

h2 {
    font-size: 45px;
    color: white;
}

#counter {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.container {
    border-bottom: #0083f8;
    border-top: #0083f8;
    border-left: #13162b;
    border-right: #13162b;
    border-style: solid;
    border-width: 20px;
    background-color: #191c37;
    /* border-radius: 10px; */
    width: 400px;
    padding-bottom: 25px;
}

button {
    width: 60px;
    height: 50px;
    font-size: 30px;
    background-color: #0083f8;
    margin-left: 10px;
    cursor: pointer;
    color: aliceblue;
}