* {
    font-family: 'Open Sans', sans-serif;
    transition: ease-in-out 0.1s;
}

body {
    background-color: rgb(255, 255, 255);
}

.nav {
    display: grid;
    width: 78px;
    height: 40px;
    color: #c59d5f;
    border-color: #c59d5f;
    border-width: 2px;
    border-style: solid;
    margin-left: 20px;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.nav:hover {
    background-color: #c59d5f;
    color: aliceblue;
    border: none;
}

.content {
    width: 228px;
    height: 165px;
    border-color: #c59d5f;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 3px;
}

.img {
    width: 100%;
    height: 100%;
}

#productName {
    margin: 0;
    border-color: #c59d5f;
    border-width: 3px;
    border-bottom-style: dotted;
    width: 225px;
    font-size: 15px;
}

#container2Lunch {
    display: none;
}