* {
    box-sizing: border-box;
    transition: ease-in-out 0.3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #f1e6e6;
}

.column {
    width: 65%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
    margin-top: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 850px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    #buttons {
        float: center;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #9ee4c3;
    height: 500px;
    width: 700px;
}

#buttons {
    float: left;
    display: flex;
    margin-top: 100px;
}

.btn {
    width: 120px;
    height: 40px;
    background-color: #13a0af;
    color: #f1f1f1;
    text-align: center;
    margin: 5px;
}


/* cards 2 */

.row2 {
    margin: 0 -5px;
}

@media screen and (max-width: 600px) {
    .column2 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 4px;
    color: #13a0af;
}

.card2:hover {
    transition: ease-in-out 0.3;
    background-color: #e6e5e5;
}

#result2 {
    border-color: #13a0af;
    border-style: groove;
    height: 40px;
    width: 150px;
    padding-top: 3px;
    margin-top: 80px;
}